@use "../../../mixins" as *;
@use "../../../presets" as *;

.skill-item {
  background-color: $color-gray-dark;
  position: relative;
  overflow: hidden;

  &__title {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    letter-spacing: 0.1em;

    a {
      height: 100%;
      padding: $gap;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.1em;

      @include md-min {
        font-size: 1.25rem;
      }

      @include md {
        font-size: 1.125rem;
      }
    }
  }

  &__image {
    @include abs-position;
    transition: transform $transiton-speed;
    background-position: center;
    background-size: cover;
  }

  &__overlay {
    @include abs-position;
    background-color: $color-primary;
    opacity: 0.8;
    transition: opacity $transiton-speed;
  }

  &:hover .skill-item__image {
    transform: scale(1.1);
  }

  &:hover {
    a {
      color: $color-accent;
    }

    .skill-item__overlay {
      opacity: 0.95;
    }
  }
}

@for $i from 1 to 10 {
  .skill-item:nth-of-type(#{$i}) {
    grid-area: i + $i;
  }
}