@use "../mixins" as *;
@use "../presets" as *;

.btn {
    transition: background-color $transiton-speed, color $transiton-speed,
        border $transiton-speed;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;

    &--light {
        border-width: 2px;
        background-color: rgba($color-light, 0.1);

        @include lg-min {
            min-width: 250px;
            height: 60px;
            font-size: 1.125em;
        }

        @include lg-md {
            min-width: 200px;
            height: 50px;
            font-size: 1em;
        }

        @include md {
            min-width: 170px;
            height: 40px;
            font-size: 1em;
        }
    }

    &--primary {
        background-color: rgba($color-primary, 0.8);
        border-color: $color-primary;
        font-size: 1.125em;
        height: 60px;
        width: 350px;

        @include md-sm {
            min-width: 170px;
        }

        @include sm {
            width: 100%;
        }
    }

    &:hover {
        background-color: $color-accent;
    }
}