@use "../presets" as *;
@use "../mixins" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  color: $color-gray;
}

a {
  text-decoration: none;
  color: $color-light;
  transition: color $transiton-speed, background-color $transiton-speed;
}

h1 {
  letter-spacing: 0.08em;
  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;
  text-transform: uppercase;

  @include lg-min {
    margin: 0 auto 53px;
    font-size: 3.75em;
  }

  @include lg-md {
    margin: 0 auto 43px;
    font-size: 2.5rem;
  }

  @include md {
    margin: 0 auto 33px;
    font-size: 1.875rem;
  }
}

h2 {
  letter-spacing: 0.1em;
  font-family: $font-header;
  color: $color-primary;
  line-height: 1.2em;
  margin-top: 0;

  @include lg-min {
    margin-bottom: 3rem;
    font-size: 2.5em;
  }

  @include lg-md {
    margin-bottom: 2.625rem;
    font-size: 2rem;
  }

  @include sm {
    margin-bottom: 2.25rem;
    text-align: center;
    font-size: 1.5rem;
  }
}

p {
  color: $color-gray;
}

h3 {
  letter-spacing: 0.05em;
  color: $color-gray;
  font-size: 1.125rem;
}

input:focus {
  outline: none;
}